[2017-05-21 14:43] andreasonny83 opened #1 "webpack-dev-server crashes"
I'm getting this weird error while running with `webpack-dev-server`

[code]

Here is my `webpack.cong.js`:

[code]

Thanks

[2017-05-30 01:51] #1 closed

[2017-05-30 01:51] arthurbergmz commented on #1
Thanks, guys!

[2017-05-30 08:31] andreasonny83 opened #3 "Manifest: property 'sizes' ignored"
`Manifest: property 'sizes' ignored, type string expected.`

Looks like Chrome doesn't like the `sizes` array. Maybe something to investigate according to the official documentation.

![](http://i.imgur.com/kMacgJ9.jpg?2)

[2017-05-30 20:58] arthurbergmz commented on #3
Oops, my bad. I didn't notice that one of the pull requests changed it.

Working on it right now.

[2017-05-30 21:16] arthurbergmz commented on #3
Let me now if it is working now.

I'll do some refactoring as soon as possible! :)

[2017-05-30 21:16] #3 closed

[2017-05-31 07:22] andreasonny83 commented on #3
Is the fix included in the version 2.1.6? I can see a commit after that version that doesn't point to any specific version. I will try the latest available shortly anyway and let you know if any problem.
Thanks for your support

[2017-05-31 10:04] HoneyryderChuck opened #5 "How to use in template"
I'm still missing how do I add this to my template. `HtmlWebpackPlugin` automatically handles chunks, but this is not a chunk, I guess.

[2017-05-31 10:06] andreasonny83 commented on #3
I confirm version 2.1.6 works fine in my app.
Thanks again @arthurbergmz

[2017-05-31 11:10] andreasonny83 opened #6 "UnhandledPromiseRejectionWarning"
Unfortunately, I'm getting a new error while Webpack is is compiling:

[code]

[2017-05-31 12:05] arthurbergmz commented on #6
Can I see your webpack configuration, please? So I can simulate this error on my machine.

[2017-05-31 12:09] andreasonny83 commented on #6
sure thing. Have a look at the entire project: https://github.com/andreasonny83/online-board

[2017-05-31 12:10] arthurbergmz commented on #5
This is a webpack plugin just like any other. Just add in the "plugins" array, on your webpack configuration, a new instance of WebpackPwaManinest, with your desired properties.

[2017-05-31 12:23] HoneyryderChuck commented on #5
Not what I meant, I meant inserting the `<link ... />` tag in the index.html .

I understand that this lib's purpose is only "bundling" the manifest.json and writing it to the output path, and adding the link is of no concern. Nevertheless, some guidelines on how to had the link tag could be useful in the README.

I've just added it to my template, no plugins involved:

[code]

Not having a dynami

[2017-05-31 16:54] arthurbergmz commented on #5
Oh, I see. There's no options now, but I'm actually looking for a way of doing this for the next version. Thanks for your suggestion!

[2017-05-31 16:54] #5 closed

[2017-05-31 17:10] HoneyryderChuck commented on #5
Sweet! thx 4 the feedback, will do my best to keep posted

[2017-05-31 17:28] arthurbergmz commented on #6
Okay, I've cloned your repository and I'll execute some tests. I'm going to give a solution as soon as possible. Thank you!

[2017-05-31 19:13] andreasonny83 commented on #6
Thank you. The bug appears when I have the 'npm start' running in the background and webpack recompile the project while I'm working on some Typescript files. It should happen quite often.

[2017-06-01 00:28] arthurbergmz commented on #6
Okay, it was a bug related to hot reload. It should be working now!
Thanks!

[2017-06-01 00:28] #6 closed

[2017-06-01 07:49] andreasonny83 commented on #6
Thanks again

[2017-06-14 00:25] arthurbergmz commented on #5
✔ Added manifest fingerprinting and HTML injection (**html-webpack-plugin**).

[2017-06-19 06:35] hitchcott opened #7 "Build Error: Cannot read property 'Symbol(Symbol.iterator)' of null"
Hi, this is working for me with version 2.7, but breaks when using version 3:

[code]

[2017-06-19 07:13] hitchcott commented on #7
It was caused by plugin order; fixed in #8

[2017-06-19 08:14] #7 closed

[2017-07-02 12:24] wilsonpage opened #10 "How to define publicPath?"
The injected HTML file path path doesn't seem to respect the [`publicPath`](https://webpack.js.org/configuration/output/#output-publicpath) option defined in my webpack config.

My Webpack config:

[code]

Expected:

[code]

Actual:

[code]

[2017-07-02 18:53] arthurbergmz commented on #10
Added by #11

[2017-07-02 18:53] #10 closed

[2017-07-03 06:06] arthurbergmz commented on #10
Available in **v3.1.0**.
Please, update and set `useWebpackPublicPath` as `true` in your _WebpackPwaManifest's options_.

[2017-07-03 11:48] HoneyryderChuck commented on #5
I finally had time to integrate this. It works exactly as expected! Thx a bunch.

[2017-07-07 08:58] HoneyryderChuck opened #12 "Usage of webpack public path inconsistent"
Related to https://github.com/arthurbergmz/webpack-pwa-manifest/issues/5

It seems I might have jumped too early. There is an issue with the option `useWebpackPublicPath` and its handling in the `HtmlWebpackPlugin`. First, I'm of the opinion that this option is irrelevant (the manifest.json should always be generated in the output path). Nevertheless, I'd like to go through the inconsistency of it

[2017-07-07 15:05] arthurbergmz commented on #12
Okay, let me see if I got this right.
If you mean we are going to have problems with websites that were deployed on multiple domains when `useWebpackPublicPath` is active, I guess you're right.

I think I share the same opinion as you, actually. Maybe not a complete removal, you know? If someone really needs this option, it will be there. Until a moment that shows a real deal using publicPath, `us

[2017-07-09 19:22] HoneyryderChuck commented on #12
I don't think this is only for multiple domains. This has to do with mixing the URL path and the file system path. Webpack has other mechanisms to support multi-domain, and they're irrelevant for this issue.

If you want to be full SemVer, I'd say you could deprecate it and later removed in a 1.0 . But I just wanted to stress the point that this option doesn't seem to have a point in existing.

My

[2017-07-09 19:37] HoneyryderChuck commented on #12
I think the issue might be [here](https://github.com/arthurbergmz/webpack-pwa-manifest/blob/master/src/WebpackPwaManifest.js#L33), where you're only injecting the filename and omitting the output path.

[2017-07-09 20:17] arthurbergmz commented on #12
It is actually [here](https://github.com/arthurbergmz/webpack-pwa-manifest/blob/master/src/Injector.js#L14). `publicPath` is an empty string, if `useWebpackPublicPath` is off, or the actual `publicPath`.

I actually can't really see where the bug is. Everything was working fine when I tested it. Could you provide something I can run on my machine?

[2017-07-10 06:57] sim642 opened #13 "iOS Web Application Configuration"
[iOS uses special `<meta>` tags for Web Application Configuration](https://developer.apple.com/library/content/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html) as opposed to the Web App Manifest. The functionality of both overlaps a lot so I think it makes sense if this plugin could optionally also inject iOS-specific Web App Co

[2017-07-10 13:11] arthurbergmz commented on #13
Upcoming feature

[2017-07-10 13:45] arthurbergmz commented on #12
Oh, now I see!
You're right, manifest.json should also be generated in the output path, among the other assets.

I'm going to fix it right now.

[2017-07-10 14:26] arthurbergmz commented on #12
Could you run a test on your project using my last commit? I hope it works as expected.

[2017-07-10 15:03] HoneyryderChuck commented on #12
I've run this with the option in default mode (I've seen you deprecated it).

The URL seems to have been properly generated:

[code]

but the location where the file is still sadly the wrong one:

[code]

[2017-07-12 04:10] arthurbergmz commented on #12
I'm working on a definitive fix this dawn.

[2017-07-12 04:55] arthurbergmz commented on #12
@HoneyryderChuck Hey, I think I managed a way of using public path the right way. Can you run another test using my newest commit, please? Thanks a bunch for helping me out with this bug!

[2017-07-12 05:34] HoneyryderChuck commented on #12
@arthurbergmz file is in the right place, and the url is the right one. I approve this fix 👍

[2017-07-12 06:24] arthurbergmz commented on #12
Fix released at **v3.1.1**. Please, update.

Thank you very much for all your support!

[2017-07-12 06:24] #12 closed

[2017-07-12 06:34] HoneyryderChuck commented on #12
Thx also for the quick fix, mate! :)

[2017-07-13 18:19] Den-dp opened #14 "Strange path on windows"
Looks like on Windows we need to convert windows backslash paths to slash paths, because of this:

double-back slashes here
![image](https://user-images.githubusercontent.com/1770529/28181227-81b3db1a-6810-11e7-8cfb-51c4c3781993.png)

back-slashes
![image](https://user-images.githubusercontent.com/1770529/28181242-9335a12a-6810-11e7-98ff-9f44108fdcfa.png)

no icons
![image](https://user-images.git

[2017-07-14 10:04] Den-dp commented on #14
@arthurbergmz Great! Works for me! Thanks for responding to this so quickly. I really appreciate it.

[2017-07-17 12:30] george3447 opened #15 "Latest version (3.1.2) breaks the injected manifest URL in windows 10"
PWA Configuration

[code]

Please see the difference,

html-webpack-plugin: **2.29.0**
webpack: **3.3.0**
webpack-pwa-manifest: **3.1.1**

` <link rel="manifest" href="\manifest.ef1097bcbf4ac5ce67f564d4256f7a35.json" />` its working fine

html-webpack-plugin: **2.29.0**
webpack: **3.3.0**
webpack-pwa-manifest: **3.1.2**

` <link rel="manifest" href="//manifest.d1684d7a301d4e6cc8cc450a1300a3ee.json

[2017-07-17 12:34] arthurbergmz commented on #15
May I see your Webpack config? I think it's related to your publicPath.

[2017-07-17 12:43] george3447 commented on #15
webpack.production.config.ts

[code]

[2017-07-18 04:26] arthurbergmz commented on #15
Was the file 'manifest.d1684d7a301d4e6cc8cc450a1300a3ee.json' properly exported by the plugin?
Can you check if it is located at '/manifest.d1684d7a301d4e6cc8cc450a1300a3ee.json'?

[2017-07-18 05:28] george3447 commented on #15
Yes the manifest.d1684d7a301d4e6cc8cc450a1300a3ee.json exported properly, the issue is with injected URL.

injected URL : `<link rel="manifest" href="//manifest.d1684d7a301d4e6cc8cc450a1300a3ee.json" />`

[2017-07-19 05:35] arthurbergmz commented on #15
Can you, please, run a test using my last commit? I added a regex that should do the trick.
Thank you!

[2017-07-19 07:27] george3447 commented on #15
No, its produced the following URL

` <link rel="manifest" href="\/manifest.d1684d7a301d4e6cc8cc450a1300a3ee.json" />`

I think the following regex will fix the issue, but you may need to verify with other environments

[code]

[2017-07-19 07:43] arthurbergmz commented on #15
Oops, my bad!
Please, update `WebpackPwaManifest` on your project to **v3.1.3**.

Thanks!

[2017-07-19 08:54] george3447 commented on #15
I think you missed to release the new version, see https://github.com/arthurbergmz/webpack-pwa-manifest/blob/master/dist/WebpackPwaManifest.js#L53 its not updated

[2017-07-19 09:27] arthurbergmz commented on #15
_Oh gosh, I can't believe I've done that._
Please, update to v3.1.4.

Sorry! 😆

[2017-07-19 11:19] george3447 commented on #15
Sorry, I just fount that the same issue is happening for generated URLs inside manifest.json. Please see the following output using different version of the plugin.

**v3.1.1** - working

[code]

**v3.1.4** - not working

[code]

[2017-07-19 11:21] arthurbergmz commented on #15
Ok, now that worries me.
I'm gonna check this asap.

[2017-07-19 14:03] meandmycode commented on #15
Fwiw, even up to 3.1.1 the behaviour on windows is broken as the urls being generated are using windows style paths (backslash) instead of web paths (forward slash), this affects the src in the manifest and the filename of the manifest, there seems to be some compensation built into web browsers to correct these, but it probably wasn't intended.

I can understand that since `path.resolve` is used

[2017-07-20 02:58] arthurbergmz commented on #15
Okay, I've came up with a regex that should normalize most URI cases.
Can you guys help me testing my last commit?

[2017-07-20 08:39] meandmycode commented on #15
@arthurbergmz just tried against master and this seems perfect on windows now :-), many thanks

[2017-07-20 10:16] george3447 commented on #15
@arthurbergmz I have tried the master version and its working fine, thank you so much for the quick fix.

[2017-07-20 16:53] arthurbergmz commented on #15
No problem, guys! Thanks for reporting these issues.

Please, update to **v3.1.5**.

[2017-07-20 16:53] #15 closed

[2017-07-27 11:54] kyoko-df opened #16 "publicPath has protocol will generate a wrong path"
If I set publicPath as `https://www.example.com`, the final url will be normalized like `https:/www.example.com/icon.png`.
It caused by normalizeURI function in URI.js,would you fix it?

[2017-07-28 16:43] #16 closed

[2017-07-28 16:45] arthurbergmz commented on #16
Please, update to **v3.1.6**.

[2017-08-09 03:07] wmartins opened #17 "Small problem when `publicPath` is empty"
I'm having a small problem when trying to use this plugin with webpack's `publicPath` (from output config) as (`''` - an empty string).

**Problem**

The asset generated is:

(note the first slash)

[code]

**Expected:**

(without the first slash)

[code]

**Why I need this:**

My use case is that I don't know - at build time - where from my assets will be served. I have an nginx that serves the h

[2017-08-09 20:57] arthurbergmz commented on #17
Sure, I'll write a filter for this still tonight.

It's good know that! _Continuem fazendo um ótimo trabalho, pessoal!_

[2017-08-09 21:59] wmartins commented on #17
@arthurbergmz, do you mind to let me know when it's done?
Also, is this code is the same used to build the "icons" (inside the manifest file), right?

Thank you!

[2017-08-09 22:26] arthurbergmz commented on #17
Can you run a test using my last commit? It should be working as desired.
And I don't want to use "path.join" because of a known issue (see #15 for more information), that's why I'm using String.join.

[2017-08-09 23:03] wmartins commented on #17
Hey @arthurbergmz, I'll test it soon! Just give me some minutes!

Thank you.

[2017-08-10 00:13] wmartins commented on #17
@arthurbergmz It's working perfectly! Thank you!

Let me know when you publish a new version? So I can update my code! :)

[2017-08-10 00:32] arthurbergmz commented on #17
**v3.1.7** is out now.
Please, update!

[2017-08-10 00:32] #17 closed

[2017-08-15 16:28] MtDalPizzol opened #18 "Add auto <meta name="theme-color"> injection on HTML."
Lighthouse is showing me the following error:

[code]
More info about this [here](https://developers.google.com/web/tools/lighthouse/audits/address-bar).

My config:

[code]

[2017-08-18 06:33] arthurbergmz commented on #13
In development.
It will be release with **v3.2.0**.

[2017-08-18 06:33] arthurbergmz commented on #18
In development.
It will be release with **v3.2.0**.

[2017-08-18 08:09] arthurbergmz commented on #13
Please, update to **v3.2.0**.

[2017-08-18 08:09] #13 closed

[2017-08-18 08:09] arthurbergmz commented on #18
Please, update to **v3.2.0**.

[2017-08-18 08:09] #18 closed

[2017-08-18 12:20] sim642 opened #19 "Output name interpolation"
Webpack along with many loaders and plugins allow specifying output filenames in interpolated formats such as `[name].[ext]` and`[name].[hash].[ext]`, which are also used for configuration between development and production to toggle what this plugin has "fingerprint" option for.

Currently the naming of output icons is quite hardcoded:
https://github.com/arthurbergmz/webpack-pwa-manifest/blob/383

[2017-08-18 17:13] MtDalPizzol commented on #18
Great! Thanks!

[2017-08-29 03:16] kenrick95 opened #20 "Custom publicPath option"
As I understand, this plugin right now only reads from webpack output `publicPath`.

One use case for this is that site assets are served at CDN but would like to serve manifest.json under own site (i.e. non-CDN). At current configuration, where manifest.json is served at CDN (which has different origin from own site's origin), Chrome will throw this warning: `Manifest: property 'start_url' ignore

[2017-09-02 02:34] bornkiller opened #21 "is it necessary to preserve IOS icon in the manifest.json?"
This is a question.

I try to use different icon for ios and android like below:

[code]

The plugin works well, insert `app-touch-icon` into html, while still preserve related icon in the `manifest.json`, I wonder that, if this will cause browser pick the wrong icon? or, use different icon is just bad idea?

[2017-09-02 09:46] nealoke opened #22 "Use icons generated by FaviconsWebpackPlugin in manifest?"
Hi! Currently I'm creating icons twice which seems a bit wrong to me. Is it possible to include the icons generated by [`FaviconsWebpackPlugin`](https://github.com/jantimon/favicons-webpack-plugin) inside the `manifest.json` file?

[2017-09-02 16:21] arthurbergmz commented on #21
Unfortunatelly, I don't have an Apple device to test it... No one's complaining about it yet, so I think everything's fine.

Can someone test it, please?

[2017-09-02 16:37] arthurbergmz commented on #22
Unfortunatelly, I see no ways of doing that automatically, since `WebpackPwaManifest` and `FaviconsWebpackPlugin` have their own way of producing icons. I need the icons to be generated before the manifest itself, so I can create a fingerprint of it. Even if `FaviconsWebpackPlugin` ran and produced their icons before `WebpackPwaManifest`, I can't think a way, right now, of retrieving those files.

[2017-09-04 14:52] dmtrKovalenko opened #23 "Use webpack output path for icons src"
I got a trouble using manifest, because output manifest contains absoulute path, not relative to my output path.
[code]
manifest.json:
[code]

[2017-09-07 20:34] arthurbergmz commented on #23
I'm sorry, but I didn't quite understand your problem.
What do you expect an output path? Can you show an example?

[2017-09-08 07:56] dmtrKovalenko commented on #23
By default manifest is watching to public path, which is `mywebsitedomain.com/assets`, and, when generated manifest is applying in such way (assets/icon..) icon resolves like `mywebsitedomain.com/assets/assets/icon...`
That can be fixed just if src will be generated with `/` at start
`"src": "/assets/icon_144x144.8f737a65911f044a30e8ec64a14c6668.png"`

[2017-09-09 22:50] TemaSM commented on #23
+1
Confirm this bug.
My `publicPath` is set to `/wp-content/themes/demo/`, webpack works fine, but pwa-manifest generates invalid links to icons.
Generated:
[code]
But should be:
[code]
So, here is how manifest looks like in dev tools (empty icons, cause invalid path in `src` option):

![image](https://user-images.githubusercontent.com/5501615/30244540-75229b1c-95c8-11e7-8277-0f40d942c1a5.png)

##

[2017-09-11 10:59] kenrick95 commented on #21
I think right now on iOS Safari, the entries at `manifest.json` will simply be ignored as iOS Safari does not support it yet: http://caniuse.com/#feat=web-app-manifest

[2017-09-11 16:17] arthurbergmz commented on #23
@TemaSM It's not the best solution, since it will affect #17 ...

I've been busy lately, but I'll be looking into it as soon as possible!

[2017-09-11 17:27] TemaSM commented on #23
@arthurbergmz, yeah, @kenrick95 noticed that, so I will push new commit to PR.
Probably the best solution will be using [`path`](https://nodejs.org/dist/latest-v8.x/docs/api/path.html) module from Node.js core and it's functions:
[`path.join([...paths])`](https://nodejs.org/dist/latest-v8.x/docs/api/path.html#path_path_join_paths)
and/or
[`path.normalize(path)`](https://nodejs.org/dist/latest-v8.x

[2017-09-12 23:40] #20 closed

[2017-09-12 23:48] arthurbergmz commented on #20
Please, update to **v3.3.0**.
Thank you!

[2017-09-12 23:50] #21 closed

[2017-09-15 21:12] AleCaste commented on #23
I was going to open an issue about this very same problem but I realize some people are getting the same problem too.
In our case the publicPath is ```/apps/mobile/``` and we are getting the manifest injected in my html file like this (which is wrong):
```<link rel="manifest" href="apps/mobile/manifest.615193c0a5c062ab4ee32ff4cc9d3019.json"/>```
... it should be injected like this:
```<link rel="m

[2017-09-18 13:53] arthurbergmz commented on #23
Please, update to **v.3.3.2**, it should be fixed now.
Can you guys, please, give me a feedback about it?

[2017-09-21 20:24] arthurbergmz commented on #23
Since no one else is talking about this issue after the update, I'm assuming that it's fixed.
Closed.

[2017-09-21 20:24] #23 closed

[2017-10-12 18:28] dangodev commented on #22
I know webpack provides hooks for assets produced by webpack with the `stats` callback for plugin hooks (see https://github.com/soundcloud/chunk-manifest-webpack-plugin/issues/6#issuecomment-153367017 as an example). I’m speaking a little beyond my depth here but is there any reason why webpack-pwa-manifest must bypass this?

Encountering the same issue and don’t know how to solve it. I need this

[2017-11-02 00:03] eliseumds opened #27 "Emit file"
Does this plugin emit the generated `manifest.json`? This way I could read it from my `stats.json` and include it in the HTML source (we're using React instead of HtmlWebpackPlugin).

Thanks for the great work!

[2017-11-02 00:22] eliseumds commented on #27
Oh, the plugins emits the files but without a chunk name. Because of that, `webpack-manifest-plugin` doesn't catch them. Has anyone been through that?

[2017-11-07 18:30] paulobmarcos opened #28 "publicPath output files"
Hey! First of all, thanks for your work!

I found something that could be a bit better. When using the `publicPath` option, the manifest file won't be generated in the specified path.

The manifest is always being generated at the root of the output path defined in the webpack config.

To fix this issue we would pass, as arguments, both the publicPath and the webpack output path to some functions

[2017-11-10 13:22] arthurbergmz commented on #28
It's a good suggestion, but the problem might be backwards compatibility. It completely changes the behavior of publicPath.

We could check, for example, if the first character is a dot. If true, then we could join `publicPath` to webpack's `publicPath`.

What do you think?

[2017-11-10 13:24] arthurbergmz commented on #27
Can you explain what's going on and what do you want to achieve, please?

Maybe we can work on that.

[2017-12-14 15:33] #28 closed

[2017-12-20 08:54] Guymestef opened #30 "Recursive output folder creation with 3.3.4 release"
Hello,

With following version of packages:
    "webpack": "~3.10.0",
    "webpack-hot-middleware": "~2.21.0",
    "webpack-pwa-manifest": "~3.3.4"

Each time the HMR rebuild sources, a new output folder with a manifest file is created inside the normal output folder, ending up after few rebuild with something like that:

/dist/[compiled sources]
/dist/manifest.json
/dist/dist/manifest.json
/dist/

[2017-12-20 18:16] arthurbergmz commented on #30
@Guymestef Can you show your Webpack config's plugins array, please?

[2017-12-20 21:32] Guymestef commented on #30
Sorry, I can't right now. It's from a work project and I'm off for the rest of the year... ^_^'
I don't know if it will help but the base of the project is from the react-redux template of vs2017 for aspnet core.

[2017-12-21 06:38] arthurbergmz commented on #30
@Guymestef I need to see the WebpackPwaManifest config. Did you use the property `filename` in it?

[2017-12-21 08:32] Guymestef commented on #30
It's from memory, but I think I used: filename: "manifest.json"

[2017-12-22 10:06] arthurbergmz commented on #30
@Guymestef

Please, update to **v3.4.0** and add `includeDirectory: false` to your WebpackPwaManifest config.

Reopen this issue if it doesn't work yet.
Thank you!

[2017-12-22 10:06] #30 closed

[2017-12-22 10:26] arthurbergmz commented on #27
I'm closing this ticket since the author didn't give the information needed in more than a month.

[2017-12-22 10:26] #27 closed

[2018-01-02 20:19] senid231 opened #32 "doesn't work with webpack-manifest-plugin"
[webpack-manifest-plugin](https://github.com/danethurber/webpack-manifest-plugin) is plugin for creating assets manifest.
It creates JSON file with a mapping of all source file names to their corresponding output file.
But manifest created with `webpack-pwa-manifest` not appear in assets manifest

i think it's related to https://github.com/danethurber/webpack-manifest-plugin/issues/102#issuecommen

[2018-01-03 00:08] arthurbergmz commented on #32
I can try to figure it out, but since both of them use the `'emit'` event, there is no way yet to `webpack-manifest-plugin` retrieve files generated by this plugin, I guess.

I'll keep this issue under discussion.

[2018-01-14 12:18] pfdgithub opened #33 "not support schemaless url"
publicPath ```//example.com/path/``` generate
[code]
publicPath ```http://example.com/path/``` generate
[code]

[2018-01-16 16:11] arthurbergmz commented on #33
Protocol-relative URLs are now considered an anti-pattern, but I can't see the error on the second example.
Can you provide more information about your issue?

[2018-01-17 02:46] pfdgithub commented on #33
it's right, but it's convenient to use when switching multiple deployment environments.

The second example there is no problem, it's just for comparison.

[2018-01-17 22:42] arthurbergmz commented on #19
Proposed at #34 . It will be developed for the next release.
Closed.

[2018-01-17 22:42] #19 closed

[2018-01-17 22:42] arthurbergmz commented on #33
I'll take a look at it for the next release.

[2018-01-25 18:22] ciampo opened #36 "Icon filename configuration"
At the moment icon files are always named `icon_[size].[fingerprint].[ext]`, but there are certain icons that are expected to have the same filename (e.g. `/favicon.ico`, `apple-touch-icon.png`).

It would be good if the plugin allowed more freedom in defining `filename` patterns at the icon config level. It would also be good if, by specifying the filename pattern, we could include the file hash.

[2018-01-25 18:26] ciampo commented on #22
+1 on @dangodev comment.

It would be really good it this plugin somehow exposed to webpack and the rest of the plugins all the stats of the files being generated (i.e., the manifest file and all the icons).

This is particularly useful when setting `inject: false`

[2018-01-25 18:28] ciampo opened #37 "Generating browserconfig.xml and MS tiles"
It would be good if this plugin could generate, alongside the webmanifest file, the `browserconfig.xml` needed by Microsoft browsers (and the related tile icons)

[2018-01-25 18:31] ciampo opened #38 "Choosing which icons are linked in the webmanifest"
It would be good if the configuration allowed the user to specify if a group of icons should be included in the manifest file.

Example:

[code]

[2018-01-25 18:32] ciampo opened #39 "Generating favicon.ico"
It would be cool if this plugin could generate a .ico file as one of the output icons.

[2018-01-25 18:34] ciampo opened #40 "Generating safari SVG mask-icon"
It would be good if this plugin could generate an SVG icon following the specs of [Safari's mask icon](https://developer.apple.com/library/content/documentation/AppleApplications/Reference/SafariWebContent/pinnedTabs/pinnedTabs.html)

(as an example, [Real Favicon Generator](https://realfavicongenerator.net/) does it quite well)

Thanks!

[2018-01-27 04:40] Manidos opened #41 "Is there a way to inject links to generated images?"
Hey!
My problem is that I have many images of different sizes in my `dist` folder, but they are not injected into `index.html`. The images are recognized by the browser (I can see the icons in devtools) `devtools -> application -> manifest`, but favicon on browser tab is empty. Is it a bug or a feature or am I missing something?

![1](https://user-images.githubusercontent.com/16019131/35468720-c93

[2018-01-27 12:21] frlinw commented on #41
favicon is not related to the webapp manifest. But it would be nice if webpack-pwa-manifest could manage it as an option
for now, you can check : https://github.com/jantimon/favicons-webpack-plugin

[2018-01-27 13:29] frlinw opened #42 "Use original filename in generated icon filename"
Is it possible to keep the original filename instead of `icon` ?

[2018-01-27 13:56] frlinw opened #43 "Webpack 4 support"
Webpack 4 is currently in beta (should be released in Feb 2018) and introduce a new plugin system (called tap).

[2018-01-27 14:15] frlinw opened #44 "[Discussion] Extend icon support"
If you plan to release a new version for webpack 4, it's time for breaking change
Related to https://github.com/arthurbergmz/webpack-pwa-manifest/issues/39 I thought about remove `ios` property (in icons) and introduce a new `type` property, which could be:
- `favicon`: inject `<link rel=icon type=image/png sizes=##x##` in index.html
- `safari` : inject `<link rel=apple-touch-icon` in index.html
-

[2018-01-27 23:31] arthurbergmz commented on #43
I'll take a look at this as soon as possible!

[2018-01-27 23:32] arthurbergmz commented on #42
The upcoming version will have support for specific labeling.

[2018-01-27 23:32] #42 closed

[2018-01-27 23:33] arthurbergmz commented on #41
I'll take this as an enchancement, but it's not a priority now.

[2018-01-27 23:33] #41 closed

[2018-01-27 23:34] arthurbergmz commented on #44
That's awesome, actually. The next version will already bring breaking changes, so I'll implement this as well.

[2018-01-27 23:35] arthurbergmz commented on #38
Why a group of icons should not be in the manifest?

[2018-01-28 01:48] frlinw commented on #44
I changed my mind.

Webmanifest implementation is browser specific for now (forever?) so an option for each case seems to be the way to go. You start it with `ios`

Pro :
* Cleaner API (Separation between global plugin options and manifest options)
* browser specific options encapsulated
* Future evolutions and test should be easier

Cons:
* Icons declaration can be repetitive (but most of the tim

[2018-01-28 02:21] frlinw commented on #38
@ciampo my second proposition should solve this, check it https://github.com/arthurbergmz/webpack-pwa-manifest/issues/44

[2018-01-28 10:35] ciampo commented on #44
At this point we could add also the mask-icon used by desktop Safari (see issue https://github.com/arthurbergmz/webpack-pwa-manifest/issues/40 )

[2018-01-28 10:49] ciampo commented on #38
@arthurbergmz If we start generating icons for multiple browsers and OSs (e.g Chome, Apple touch icons, safari mask-image, Edge tiles), the Web App Manifest file would very quickly bloat.

Also, some of these icons would be created for specific use cases (e.g the iOS icon with rounded borders, the MS tile icon with a solid color in the background, the chrome icon with a transparent background...).

[2018-01-28 10:51] ciampo commented on #38
@frlinw Thanks for putting together that issue — @arthurbergmz it can probably make more sense to discuss all the improvements that we would like to land in the next version in the same issue perhaps?

In that case, we can close this issue (and the other ones that I opened recently) and discuss everything in the same issue

[2018-01-28 11:00] ciampo commented on #44
@frlinw I agree with your proposition. I would love if this plugin could handle all the favicons and manifest generation — that would make it very complete.

We could come up with a sensible default configuration that would generate all the recommended icons that are needed.

I also have another request (assuming that this issue will be the main thread where we discuss about all the features for t

[2018-01-28 11:46] Cu3PO42 opened #45 "Cache resized icons for faster builds"
It would be great if the icons could be cached somewhere after resizing (maybe based on the last modified timestamp for the best performance) to get faster builds. Right now webpack-pwa-manifest adds ~8s to every build for me, which is a 25% increase.

I believe this is going to get more relevant when you implement #44 since the potential number of output files is going to grow by a fair margin in

[2018-01-29 18:22] arthurbergmz commented on #45
This plugin already caches files, but I'll figure out something faster for the next version.

[2018-01-29 18:41] arthurbergmz commented on #38
We will keep the discussion under the proposal of #44 . Closed.

[2018-01-29 18:41] #38 closed

[2018-01-29 18:42] arthurbergmz commented on #37
browserconfig.xml support will be added to the next version. We will keep discussion under #44 . Closed.

[2018-01-29 18:42] #37 closed

[2018-01-29 19:08] arthurbergmz commented on #44
Hello!

I started working on **v4.0.0** and it will be a breaking change version. Some of the changes are:

+ Webpack 4.x.x and above;
+ Mature redesigned API;
+ New cache for resized images;
+ Your plugin options will no longer be defined among the manifest options.

You can keep track of the new changes at the [`next` branch](https://github.com/arthurbergmz/webpack-pwa-manifest/tree/next) and [f

[2018-01-29 19:19] Cu3PO42 commented on #45
Sorry, I didn’t see that when I glanced at the code or find it in the documentation.
Might I suggest adding that to the README?

[2018-01-29 19:36] frlinw commented on #44
About the `edge` part (`browserconfig` is probably more relevant)

It's probably better if the plugin can be close to the docs. So I thought about an object equivalent of browserconfig.xml schema
[code]

[2018-01-29 21:16] frlinw commented on #43
it can help : https://github.com/GoogleChrome/workbox/issues/1151

[2018-01-30 19:13] acostalima commented on #40
I guess SVG icons are not yet supported then, right?
I'm getting the following error when I add a SVG to icon `src`:

[2018-01-31 17:32] frlinw commented on #44
Note: ImageResource accept 2 new options `purpose` (badge, any) and `plateform` (no value defined but the spec redirect to https://github.com/w3c/manifest/wiki/Platforms )

Source: https://www.w3.org/TR/appmanifest/#dom-imageresource-platform

[2018-02-04 11:40] adelura opened #46 "Custom properties in manifest like gcm_sender_id"
Hi, thank you for the plugin!

I was wondering if it's possible to set a custom property in manifest.json? What I'm trying to achieve is to have this field:

[code]

According to [web push book](https://web-push-book.gauntface.com/chapter-06/01-non-standards-browsers/#adding-a-web-app-manifest) it's required to setup Google Cloud Messaging.

[2018-02-04 12:24] adelura commented on #46
Okay I just realised that I could do this easily by:

[code]

I tried this before, but I got the impression that it doesn't work.

[2018-02-04 12:24] #46 closed

[2018-02-04 15:50] arthurbergmz commented on #45
Oh, I see your point now. The current caching is not what you've proposed.
You are talking about local caching, right? This plugin only caches icons in the first Webpack run, in memory.

I'll look forward for local caching.

[2018-02-04 16:19] Cu3PO42 commented on #45
Yes, I was talking about about caching on the local file system.

[2018-02-07 05:48] arthurbergmz commented on #44
My proposal of full usage for **v4.0.0**:

[code]

Hope not missing something...
What you think?

[2018-02-07 05:56] arthurbergmz commented on #43
Implemented for **v4.0.0**.

[2018-02-07 05:56] #43 closed

[2018-02-07 05:57] arthurbergmz commented on #36
Implemented in **v4.0.0**.

[2018-02-07 05:57] #36 closed

[2018-02-07 05:59] arthurbergmz commented on #22
**v4.0.0** will have default support for favicons.

[2018-02-07 05:59] #22 closed

[2018-02-07 09:12] frlinw commented on #44
1) Most of webpack plugins have only one param. Personnally, I don't use a var for a 'one-use' thing. So it gives something like :
[code]
So I'm more for a manifest key (I can keep plugin option at the beginning of the conf) :
[code]

2) A flat representation of the manifest part :
[code]
It keeps the actual design of the API but where `type: 'chrome'` looks like a preset for manifest icons, `type

[2018-02-07 09:36] acostalima commented on #44
Concerning the manifest options, I would suggest to embrace the Web App Manifest spec for sizes: drop the support for the `size` prop and always use `sizes` instead accepting the following values:

- a single size string
- a string containing a list of space separated sizes
- an array of string sizes (enhancement)

The above would also imply the support for an array of numbers such as
[code]
is re

[2018-02-07 15:16] satazor opened #47 "Unable to include SVG icons"
If there's a SVG icon inside `icons`, this package fails with the following error:

[code]

This happens because we are using `jimp` to resize the images but it doesn't support SVGs. And it shouldn't because SVGs are scalable by nature, thus they don't need to be resampled. My suggestion is to detect SVGs via the `type` (and fallback to extension) and skip `jimp` if the detection identified a SVG.

[2018-02-07 16:40] ciampo commented on #44
Agreed with what stated above. In particular, I'd like to stress the fact that version 3 of this plugin doesn't add the emitted files to `compilation.assets` early enough in the webpack compilation process (I believe that they are added during the `emit` event, maybe they should be added during the `make` event?)
This is the main issue that prevents me from using this great plugin, as I'm using a

[2018-02-07 17:02] frlinw commented on #47
Indeed, jimp can process png, jpg and bmp so it would be nice to check if the file matchs one of these extensions (and maybe log a warning if you want to resize an unsupported image file extension like .webp)

[2018-02-07 19:52] frlinw commented on #44
Edge 17 will support PWA (and manifest) https://blogs.windows.com/msedgedev/2018/02/06/welcoming-progressive-web-apps-edge-windows-10/
Don't know if it's worth to support browserconfig.xml

[2018-02-08 04:32] arthurbergmz commented on #44
Okay, what about this one?

Updated usage proposal for **v4.0.0**:

[code]

[2018-02-08 04:45] arthurbergmz commented on #47
@satazor sounds nice. if you make a PR, I will probably release it as **v3.4.2**.

[2018-02-08 08:48] frlinw commented on #44
It seems good to me 👍

[2018-02-08 09:53] acostalima commented on #44
@arthurbergmz there is another issue that should be addressed. When the dimensions' height and width are not equal, the current implementation is resizing the icons to force both dimensions to be equal. This behaviour should be disabled by default.

[2018-02-08 10:19] satazor commented on #47
@arthurbergmz 👍 will do.

[2018-02-09 12:52] acostalima commented on #44
@arthurbergmz the `maskIcon` object should accept an additional `color` property as follows:

[code]

[2018-02-10 17:44] #40 closed

[2018-02-10 17:44] #47 closed

[2018-02-14 07:23] BOOMER74 opened #51 "Disable fingerprints ignored in 3.5.0"
Option
[code]
stop working in 3.5.0. Manifest always created with fingerprints.

[2018-02-17 01:59] acostalima commented on #44
@arthurbergmz what is the ETA for v4?

[2018-02-17 03:00] frlinw commented on #44
manifest default filename shouldn't include a hash (source https://github.com/w3c/manifest/issues/446#issuecomment-351368893)
I don't really know for icons filename.. but the spec say

[2018-02-17 17:10] arthurbergmz commented on #51
Not a priority now, since **v4.0.0** is coming out soon and **v3.5.0** will be very deprecated.

[2018-02-17 17:22] arthurbergmz commented on #44
@acostalima the ETA for **v4.0.0** is February 25th.

@frlinw well, that's actually a pitty... It could be an obstacle for many projects, since they couldn't update any informations during their life cycle. The user agent's cache probably will not allow an icon update, for instance, if there is no way to update the manifest.

Anyhow, this is the final **v4.0.0** config:

[code]

Am I missing somet

[2018-02-25 19:16] thescientist13 opened #52 "callback is not a function (webpack v4)"
I've upgraded to the latest version of `webpack@4.0.0` and `webpack-pwa-manifest@3.5.0` and am seeing this error when running my current build
[code]

Likely this is related to some breaking change?
https://medium.com/webpack/webpack-4-migration-guide-for-plugins-loaders-20a79b927202

You can see [my PR here in my project](https://github.com/ProvidenceGeeks/website-frontend/pull/142) where if you

[2018-02-25 19:53] frlinw commented on #52
https://github.com/arthurbergmz/webpack-pwa-manifest/issues/44#issuecomment-366456547

should be released today but it can take few more days, be patient

[2018-02-25 19:57] thescientist13 commented on #52
thanks @frlinw !!

[2018-02-28 00:46] arthurbergmz commented on #44
Hello!

Unfortunately, I've been a little busy with some college projects and **v4.0.0** may take another week or two, I hope you understand... I'm sorry and I'll be releasing the new version as soon as possible!

In the meanwhile, **v3.6.0** was release with Webpack 4 support, but there are no API changes.

[2018-02-28 00:47] arthurbergmz commented on #52
@thescientist13
Please, update to **v3.6.0** due to Webpack 4 support.

[2018-02-28 00:47] #52 closed

[2018-03-01 00:17] thescientist13 commented on #52
thanks @arthurbergmz , will give it a go!

[2018-03-01 15:07] fernandopasik opened #53 "tapAsync issue with webpack 4"
Hi I'm having this issue when I use webpack or webpack-dev-server

[code]

[2018-03-01 15:11] arthurbergmz commented on #53
Have updated Webpack and html-webpack-plugin?

[2018-03-01 15:35] fernandopasik commented on #53
I'm not using html-webpack-plugin

[2018-03-01 18:58] arthurbergmz commented on #53
@fernandopasik

Please, update to **v3.6.1**.
Thanks!

[2018-03-01 18:58] #53 closed

[2018-03-01 20:52] WayneHiller commented on #51
How soon is soon?

[2018-03-02 10:10] fernandopasik commented on #53
Thank you @arthurbergmz it works great now!

[2018-03-05 19:49] frlinw commented on #46
Do not use gcm_sender_id, it's legacy

ref: https://developers.google.com/web/updates/2016/07/web-push-interop-wins

[2018-03-06 10:47] throrin19 commented on #51
I have the same problem and this feature is realy important for me :/

[2018-03-06 14:34] WayneHiller commented on #51
If you specify a filename it will not append the thumbprint. filename: "manifest.json"

[2018-03-07 16:18] eatsjobs commented on #33
Up. Same problem with 3.6.1 version

[2018-03-13 05:44] arthurbergmz commented on #51
Fixed in **v3.6.2**.

[2018-03-13 05:44] #51 closed

[2018-03-13 05:45] arthurbergmz commented on #33
@eatsjobs

Hey, can you test it and make a PR, please?

[2018-03-21 14:26] mkitzman opened #55 "ERROR in TypeError: supportedMimeTypes.includes is not a function"
Hi,

This is probably just something I am doing wrong or the version of webpack I'm using but I thought I would report this just in case:

When adding icons to the config and building webpack the icons aren't created due to this error:

[code]

I am using
[code]

My config object is

[code]

Changing line 114 in ```webpack-pwa-manifest]/dist/icons/index.js``` from

```if (!supportedMimeTypes.inclu

[2018-03-27 12:19] Sparki2002 opened #56 "manifest.json not injected"
Hi,

my manifest.json is not injected in my html template

This is my plugins object:
[code]

[2018-04-08 04:22] ZiperRom1 opened #57 "bad naming of manifest.json when fingerprints = false"
When the option `fingerprints` is set to `false`, the output name of manifest is `manifest..json` instead of  `manifest.json` (double dot)

[2018-04-08 23:10] debanjanbasu commented on #44
Have been waiting for the favicons part for quite some time... Is there an ETA for the functionality? When is 4.0.0 going to land? if it is already there... can you update the Readme please?

[2018-04-15 00:51] kdex opened #58 "Add option to disable formatting"
Currently, [this line](https://github.com/arthurbergmz/webpack-pwa-manifest/blob/152d45bc14dd0666fb1e1eebaa2975f6c7aae286/src/injector/index.js#L55) hardcodes arbitrary formatting options for the resulting file.

Some users might want to have control over tabs vs. spaces in the resulting manifest, too. Some might not even want to use indentation at all in production.

Could we perhaps add an optio

[2018-04-23 08:52] rost-didyk commented on #56
I have this problem too (

[2018-05-04 17:02] seiryokusan commented on #57
Not sure if this helps but it was not occurring on 3.4.1. I've only seen this on 3.6.2 so far.

[2018-05-13 03:37] christophermiles commented on #57
Happening for me on 3.6.2 too

[2018-05-16 03:02] zhongzhi107 opened #59 "When publicPath starts with //, there is a problem with the output file path."
I expect to use the `//` start address to automatically adapt http and https.

[code]

but the url of the output is `/www.cdn.com/`.

Maybe it's a bit of a problem with `src/helpers/uri.js`.

[2018-05-17 10:15] kovcic opened #60 "Support for crossorigin attribute on injected link tag"
Hello,

I need support for `crossorigin="use-credentials"` on injected `<link>` tag.
Correct me if I'm wrong, but such option is not available.

Thx

[2018-05-18 03:46] Spaxe opened #61 "Error: Unknown value of "background_color": rgb(...)"
The Web Manifest Spec says the colour value can be of any valid CSS Level 3 syntax (https://w3c.github.io/manifest/#dom-webappmanifest-background_color). Using `rgb(..)` in the webpack plugin config results in error.

[2018-05-21 22:29] cvan opened #63 "tests fail on macOS on `master`"
first off, awesome project. thanks for creating this! :+1:

when cloning `master`, the tests fail for me on macOS 10.13.2 (tested with Node.js version `v8.91`, `v8.9.4`, and `v9.11.1`.)

![screenshot of tests in terminal](https://user-images.githubusercontent.com/203725/40333089-48a2dbb2-5d1c-11e8-8f6d-5cb15ed3b0fb.png)

[code]

any ideas as to what is causing this on my machine?

[2018-05-21 22:49] cvan commented on #55
@mkitzman which version of Node.js are you running (`node --version`)?

[2018-05-23 06:47] pfdgithub opened #64 "filename:'[name].[hash][ext]' generate 'name..json' when fingerprints:false"
```filename:'[name].[hash][ext]'``` generate ```'name..json'``` when ```fingerprints:false```
```filename:'[name].[hash][ext]'``` generate ```'name.hash.json'``` when ```fingerprints:true```

[2018-05-24 07:24] pfdgithub opened #65 "filename:'assets/manifest.json' will output 'assets\manifest.json' in webpack build output"
Platform: windows 10 x64

I want generate ```manifest.json``` to ```assets``` directory, the plugin will output ```assets\manifest.json``` in webpack build output.
When i use ```workbox-webpack-plugin```,  it generate an error url in the precache-manifest.js file.
eg. ```"url": "/assets\\manifest.json"```

Here is an example https://github.com/pfdgithub/workbox-webpack-plugin-demo/tree/webpack-pwa

[2018-05-26 22:59] wavebeem commented on #61
I think transparent needs to be supported too? It seems to be an option on https://www.pwabuilder.com/generate.

[2018-05-27 21:57] andresmatasuarez opened #66 "Got manifest.[hash].json but dont know how to inject it on custom template"
Hi! First of all, I want to thank you guys for this awesome plugin.

Now, what is happening to me is this: I need to add a web app manifest.json file to my web app to make it Progressive. Im indeed getting the file generated by the plugin, but since Im not using HtmlWebpackPlugin, Im not being able to include/inject it.

For my project, I rely on `assets-webpack-plugin` to get a `webpack-assets.js

[2018-06-04 20:34] cvan opened #67 "add Travis CI integration for continuous-integration testing"
it'd be great to set this project to use the [Travis CI (via the free GitHub integration)](https://github.com/marketplace/travis-ci) service, which is free (for OSS projects).

the [tests](https://github.com/arthurbergmz/webpack-pwa-manifest/tree/master/tests) could then be run on pull requests (opened/modified), with reported test successes and failures (via the built-in hooks in the GitHub integ

[2018-06-04 20:35] cvan commented on #63
@arthurbergmz friendly ping - wanted to see if you have any pointers here. I'd be glad to help out, but I am stuck on understanding what is failing with the `basic` test.

out of curiosity, what is your machine setup: OS platform, Node, npm versions?

thanks in advance for your help. and thanks again for writing such a useful library. I'm really glad this already exists. nice work :+1:

[2018-06-08 10:34] ciampo commented on #44
Hey @arthurbergmz , how is v4.0.0 coming along?

[2018-06-08 23:44] ghashi opened #68 "Is there any support for iOS splash-screens?"
Is there any support for iOS splash-screens (with Auto image resizing, image fingerprinting, auto injection on HTML)?

The feature I'm talking about is this: https://appsco.pe/developer/splash-screens

[2018-06-16 07:29] stonecold123 commented on #60
Hope it gets merged soon!
https://github.com/arthurbergmz/webpack-pwa-manifest/pull/62

[2018-07-03 00:59] arthurbergmz opened #70 "[Disclaimer] Inactivity"
Hello!

I owe you apologizes. 2018 has been such a great year and I've been busy all year long, working on a lot of projects. Because of that, this project has become inactive. It's true there is a branch for a new version, but I would like to work on a lot of stuff and I just can't do it right now. Feel free if you want to create a fork of this project and keep up with it, since, for the moment,

[2018-07-25 08:30] hank7444 opened #71 "It is not good for icon size always be square"
iOS splash screen images aren't square shape, they are rectangle

I put size as follows:
[code]

but the output image size become 640 x 640px, has any good idea?

Otherwise, I saw output metas "apple-touch-startup-image" don't have media query at all :(

![image](https://user-images.githubusercontent.com/4727090/43188918-eb593a84-9027-11e8-9223-400d95d64a2b.png)

[code]

[2018-07-26 18:06] doug-wade commented on #70
Hi @arthurbergmz!  Would you be willing to allow development to continue in this repository and with this npm module name?  I'd be willing to watch the repo and keep up with PRs and issues -- to maintain the project.

[2018-07-26 18:19] arthurbergmz commented on #70
@doug-wade I would be glad to make you a collaborator!
I'll be coming back to the open-source world very soon, I'm just really busy since a couple of months ago because of college and this new job in Montréal. I'm still trying to keep up with side-projects, but it has been kinda hard.

I'll add you as a collaborator. I would also be happy if you continue the "next" branch, if possible! The idea is

[2018-07-27 17:19] doug-wade commented on #64
Fixed in #73 by @Diokuz (thanks!)

[2018-07-27 17:19] #64 closed

[2018-07-27 17:21] doug-wade commented on #57
Duplicate of #64

[2018-07-27 17:21] #57 closed

[2018-07-27 17:30] doug-wade commented on #55
I suspect @cvan is on to the correct solution here -- [Array.includes](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/includes) is supported in node 6 and later, which includes [all currently-supported nodes](https://github.com/nodejs/Release).  Since I would prefer not to be in the business of supporting nodes the node foundation doesn't support, I've added

[2018-07-27 17:38] doug-wade commented on #68
The platform-independent way to generate a splash screen is using the the name property, the background_color property and the icons array in manifest.json (see, for instance [this Medium piece](https://medium.com/@applification/progressive-web-app-splash-screens-80340b45d210) ).  This is the way for specifying splash screens that we intend to support.

[2018-07-27 17:38] #68 closed

[2018-07-27 17:38] doug-wade commented on #67
Thanks for the suggestion; I intend to do this.  I'm working with the repo owner to get the correct permissions.

[2018-07-27 23:08] #55 closed

[2018-07-30 05:00] #67 closed

[2018-07-30 05:12] doug-wade commented on #65
Hi @pfdgithub, thanks for the error report.  I've been looking into your problem, and I can't reproduce it.  I've added a test and opened a PR with it -- can you look into it and see if I've misunderstood somehow?  Your configuration seems like it should work to me from my testing.

[2018-08-02 15:36] Onset commented on #66
I believe it is related to https://github.com/arthurbergmz/webpack-pwa-manifest/issues/32. Webmanifest file is not recognized as other assets.

[2018-08-02 15:57] csantiago132 commented on #70
@arthurbergmz im willing to help as well! Im new to dev but I can do the small stuff/anything you guys want while I learn more

[2018-08-02 16:01] csantiago132 commented on #56
@Sparki2002 @rost-didyk  make sure you guys have
[code]
as part of your options

Heres a full example
[code]

[2018-08-03 16:44] doug-wade commented on #70
Hi @csantiago132!  My biggest concern is #56 and #32, which I think are duplicates.  It'd be really helpful to have a minimal repro (like in a repository somewhere) or a failing unit test as a PR, if you're looking for somewhere to start.  The same can be said for #32 -- it'd be easier if we had a repro or failing unit test.  If you're looking for somewhere to start, that might be a good place.

P

[2018-08-04 17:18] doug-wade commented on #60
This was fixed in #62

[2018-08-04 17:18] #60 closed

[2018-08-04 17:28] doug-wade opened #77 "Broken unit tests"
It seems #62 broke the unit tests.  It also seems we didn't notice because the unit tests write success and failure messages to the console, but don't exit with a non-0 status code when they fail.  Let's get back working.

[2018-08-04 18:16] doug-wade commented on #77
https://travis-ci.com/arthurbergmz/webpack-pwa-manifest/jobs/138109373

[2018-08-04 18:37] doug-wade commented on #77
It seems that the chunkhashes generated on Travis are different than the chunkhashes generated by my laptop (https://travis-ci.com/arthurbergmz/webpack-pwa-manifest/jobs/138208392).  This is strange to me because they are both running Ubuntu, but [we seem to not be the first to run in to this](https://github.com/rails/webpacker/issues/1215).

[2018-08-05 16:35] olivierpascal opened #79 "publicPath different for manifest.json (same origin) and icons (CDN)"
Hi,

I would like to be able to set a different publicPath for manifest.json (ie. `<link rel="manifest" href="/manifest.json" />`) and icons (ie. `"src": "https://my-cdn/icon_512x512.png"`).

Would you accept a PR?

[2018-08-06 15:11] csantiago132 commented on #70
@doug-wade ok will do my best. ill create one on my end and have a repo

[2018-08-07 22:47] doug-wade commented on #79
Hi @olivierpascal, we would take a PR, though I'd be interested to hear about your plan first.  I think taking a publicPath option in a single icon hash would be best, even though this has the drawback of being somewhat repetitive (but maybe that doesn't matter?).

[2018-08-12 17:40] #77 closed

[2018-08-12 18:07] #61 closed

[2018-08-21 14:36] kovcic commented on #60
Works well, thank you!

[2018-08-26 09:33] aminnairi opened #81 "Image fingerprinting should be customizeable"
Hi there,

## Introduction

I really love this plugin and I'm actually using it on my own Webpack template for my projects in Vue, Hyperapp, React and others and it works great!

This is more of a feature request than an issue.

## Context

We are already able to use the hash for the generated manifest file, and with the automatic injection in the HTML file, it is a breeze to generate a `[hash].js

[2018-08-30 02:54] Chris3773 commented on #81
I would like to see an option for only adding the hash to the icon files and not the manifest.json. The use case for this is when using Angular Universal the index.html file is not part of the webpack pipe line so it can't be injected. With this setup you will need to add the manifest.json file directly to the index.html with it's own cache busting and turn off fingerprinting.

[2018-08-31 13:39] olivierpascal commented on #79
Hi @doug-wade, sorry for the long delay in my reply.

Your discussion about [extending the icon support](https://github.com/arthurbergmz/webpack-pwa-manifest/issues/44) for v4.0.0 was inspiring. I quickly inspected the `next` branch and found that there still was a long way to go with it to get something working. It was simpler, quicker and more flexible for me to start a new plugin from scratch t

[2018-09-06 01:06] feg624 opened #84 "Add option to not include "orientation" attribute"
While testing my PWA on Android, I see that whenever I provide some value to the orientation attribute on the resulting manifest.json, the PWA doesn't use the device screen orientation (locked, or not), but it always uses the one provided into the manifest.json.

However, when preparing the manifest.json file manually (without this plugin), and leaving it without the orientation attribute, the PWA

[2018-09-06 21:26] doug-wade commented on #79
Given that you've chosen to implement this as a separate plugin, I'm going to close this issue.  Should you choose to bring this feature into this plugin, which as I say would be welcome, please reopen or open a new issue.

[2018-09-06 21:26] #79 closed

[2018-09-20 22:16] mikevaleriano opened #85 "Favicon injection and favicons-webpack-plugin"
I successfully generated a PWA manifest and all there's left to do is link the icons in my html.

After finding #22 and #41 I got a bit confused: it seems I would have to use [favicons-webpack-plugin](https://github.com/jantimon/favicons-webpack-plugin) to generate and inject the links to the generated icons in my html, but I don't get how the icons will then be listed in the manifest generated by

[2018-09-23 08:55] Shyiy opened #86 "Support for upcoming html-webpack-plugin v4"
In order to support the upcoming `html-webpack-plugin` version 4 (for Webpack 4), the `tapable.js` need to be adjusted slightly. When quickly testing on my project I just modified the following to make everything work.

Add:
[code]

Change 1:
[code]

Change 2:
[code]

[2018-10-05 13:58] Ronnyrr commented on #44
Is there any status of the new version? Would love to see a version with `browserconfig.xml` and microsoft tiles support. Really love the package so far.

[2018-10-26 23:33] cescoferraro commented on #56
same here

[2018-11-25 23:11] alexandernst opened #87 "Missing sizes (Apple Touch Startup images)"
I have an array of image objects, like this:

[code]

and I'd expect the plugin to generate the corresponding `link` tags, each one with the `size` property. But instead, the plugin generates the `link` tags without `sizes`.

Note that the `sizes` property isn't generated only when I'm using `ios: 'startup'`. It works fine for the rest of the icons.

[2018-12-01 19:44] #84 closed

[2018-12-01 19:46] #87 closed

[2018-12-01 20:05] feg624 commented on #84
Thanks a lot!

El 1 dic. 2018 16:44, Douglas Wade <notifications@github.com> escribió:

Closed #84<https://github.com/arthurbergmz/webpack-pwa-manifest/issues/84> via #89<https://github.com/arthurbergmz/webpack-pwa-manifest/pull/89>.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/arthurbergmz/webpack-pwa-manifest/issues

[2018-12-03 23:33] alexandernst opened #90 "[VULN] Upgrade to jimp 0.6.0 ASAP"
Current version of `jimp` depends on `tinycolor2@1.4.1`, which has 2 medium vulnerabilities:

[code]

Please upgrade to jimp 0.6.0

[2018-12-03 23:41] alexandernst commented on #90
@doug-wade ^

[2018-12-05 02:35] alexandernst commented on #90
@doug-wade Would it help if I make a PR?

[2018-12-06 08:13] markusgattol commented on #85
any updates on this i.e. how do people inject their icons? manually still?

[2018-12-07 01:38] doug-wade commented on #90
Hey @alexandernst I'll take a look at this when I get home from work this evening.  In the future, it is traditional to communicate vulnerabilities over email (my email address is available from my Github profile) to avoid publicizing vulnerabilities publicly.  Thanks for the report all the same, though.

[2018-12-07 01:40] doug-wade commented on #65
Hi @pfdgithub it's been some months without a response and I can't repro this issue.  I'm going to close it as won't fix.  Feel free to reopen it if we can get a test that repros the broken behavior.

[2018-12-07 01:40] #65 closed

[2018-12-07 04:42] #90 closed

[2018-12-07 04:50] doug-wade commented on #90
@alexandernst this was released in https://github.com/arthurbergmz/webpack-pwa-manifest/releases/tag/v4.0.0

[2018-12-27 13:15] krayush opened #94 "Not able to install npm module"
**Not able to install npm module:**
npm i webpack-pwa-manifest

**Output:**
npm ERR! code E404
npm ERR! 404 Not Found: webpack-pwa-manifest@latest

[2019-01-06 01:11] doug-wade commented on #94
I don't repro

[code]

[2019-01-06 01:11] #94 closed

[2019-01-09 15:04] appelsiini commented on #56
Same

[2019-01-19 20:27] brooks88 opened #95 "PWACompat support"
Google has a compatibility script called [PWACompat](https://developers.google.com/web/updates/2018/07/pwacompat) which allows older web browsers and, sometimes, IOS Safari versions to handle issues like OAuth2 login properly. I notice that this plugin optionally adds some Apple-specific tags into the html so perhaps it is covered.

PWACompat uses an href containing the name of the generated manif

[2019-01-22 10:51] bjornbos commented on #56
I have the same problem, but you can easily solve by adding the tag to your template yourself:

    <link rel="manifest" href="manifest.json">

[2019-02-05 15:55] BruneXX commented on #56
Hi Everyone, any update on this?

[2019-02-09 20:00] thasmo commented on #70
I'd love to see #56 and #66 and #32 being worked on. I'm not familiar with how webpack plugins work, but I'd imagine it's possible to somehow emit new files to webpack, and webpack passes them to the appropriate loaders etc. so these files will be handled like any other asset/dependency.

[2019-02-21 17:42] rockerBOO commented on #56
This is stating using `ManifestPlugin` but this is `WebpackPwaManifest`. This plugin creates a [Web App Manifest ](https://developer.mozilla.org/en-US/docs/Web/Manifest). The currently released plugin properly adds the manifest.json file by default `options.inject = true`.

`<link rel="manifest" href="manifest.ca46357614a187ae3015ca7c3ecf6348.json" />`

After searching around I got equally confuse

[2019-03-19 22:34] kkimdev opened #96 "[feature request] custom item name support"
Currently icon names are hard coded as `icon_*.png` .  Can we make it configurable? Thanks!

[2019-03-20 07:42] arthurbergmz commented on #70
Hello, everyone!

Branch `next` just got update after a while. I'm working again on this project ;)

[2019-03-20 07:42] #70 closed

[2019-03-20 07:43] arthurbergmz commented on #70
By the way, thanks everyone who contributed in the meanwhile! You guys nailed it.

[2019-04-06 03:35] jalik commented on #85
I also think that using one plugin to generate icons + manifest and injecting them into the HTML is the way to go ! since this plugin is already generating icons and manifest, maybe it's not a big deal to also inject favicons in the HTML ?

[2019-04-09 11:20] tommhuth opened #97 "output both icons and manifest.json to same folder"
How can I output both icons and the `manifest.json` file itself to the same folder? I've tried tweaking `filename`, `publicPath` and `destination`, but either the icons/json ends up in the wrong place, or the HTML ref for for icons becomes bloated (like `manifest/manifest/icon.png`). Is there a limitation in where the manifest needs to be placed, ie root folder?

Edit: oh never mind, that would pr

[2019-04-09 11:22] #97 closed

[2019-04-12 16:00] vesper8 opened #98 "what is icon fingerprinting?"
this is the first time I hear of this and googling it did not bring up anything relevant... is that just another term for cache-busting through the use of hashes in the filename? or does it mean more than that?

[2019-05-02 09:52] marklai1998 commented on #98
should be the hashes of the icon
fingerprint means add the file hash to the file name like a<hash>.png
it is common to use it to refresh the cache of CDN

[2019-05-02 11:45] vesper8 commented on #98
thanks for clarifying

[2019-05-02 11:45] #98 closed

[2019-05-08 09:35] tommhuth commented on #44
I can't find any docs on this, even though v4.0.0 is out, and it actually looks like it works.

[2019-05-10 16:36] eike-hass commented on #27
I face a similar issue. I would like to reference the generated manifest from the output of https://github.com/ztoben/assets-webpack-plugin. The key in the generated asset manifest (from the assets-plugin) is simply `""`. I assume because there is no chunck name. Would it be possible to add a setting to specify that in the config?

[2019-05-12 16:26] ilanbm commented on #56
Same here, any solution?

[2019-05-29 10:10] robotpapier opened #99 "Off not working "Service worker is not registred or does not control the Start URL""
Hi,
I have this message in my chrome devtools and offline doesn't work.
I am working on localhost and even tried with https ://localhost
but still have this message.

Does anyone know why it is not registered?

[2019-05-30 07:37] arthurbergmz commented on #44
`browerconfig.xml` support will no longer be developed since Microsoft Edge will now be Chromium-powered.

Since this plugin is already two years old, it really needs a great update.

Please, follow `[pwa-manifest-engine](https://github.com/arthurbergmz/pwa-manifest-engine)` for updates. `webpack-pwa-manifest` is just going to be an adapter from its release on.

The engine will be completely rewri

[2019-05-30 08:12] arthurbergmz commented on #99
Have you tried removing `webpack-pwa-manifest` from the Webpack config? If so, does the error still appear?

If you have tried removing the `webpack-pwa-manifest` from your Webpack config and got no errors, please, can you post your Webpack config and Service Worker register?

[2019-06-06 13:08] JeandeCampredon commented on #56
I had the same issue, I thought it was because of webpack-html-plugin v4 that I am using, so I wrote this PR, hope it might help you guys

[2019-08-04 10:36] panditsavitags commented on #37
is the browserconfig.xml support added?

[2019-08-14 13:41] amerllica opened #107 "Custom fingerprint for building manifest"
For some reason, we need to have a custom fingerprint in the file is generated by this plugin. for example, we pass `myName` for fingerprint and the plugin should generate a manifest file by the below name:

    manifest.myName.json

[2019-08-28 12:37] mikemix commented on #32
I'm using Webpack 4.3. The generated manifest file indeed appears in the asset manifest file, but the key is invalid, should be:

`"build/manifest.json": "/build/manifest.a9031d64929e9c54d88c7a0b4cc11f47.json",`

but is instead

`"build/manifest.a9031d64929e9c54d88c7a0b4cc11f47.json": "/build/manifest.a9031d64929e9c54d88c7a0b4cc11f47.json",`

meaning it's not valid and I cannot use it. Don't know

[2019-10-14 17:06] pathikdevani opened #110 "4.1.0 has published without dist directory"
I have just confirmed using `npm pack webpack-pwa-manifest@4.1.0`.

[code]

https://npm.runkit.com/webpack-pwa-manifest

[2019-10-15 05:07] pathikdevani commented on #110
As of now, I reverted back and strictly depend on version `4.0.0`.

like `"webpack-pwa-manifest": "4.0.0"`.

[2019-10-16 04:53] arthurbergmz commented on #110
I'm really really sorry about this, it has not been easy to find some time to look after this project.
Updated.

Cheers,
Arthur.

[2019-10-16 04:53] #110 closed

[2019-10-16 04:59] pathikdevani commented on #110
@arthurbergmz Thanks for quick support. I will look into `4.1.1`.

[2019-10-16 10:30] sirjuan commented on #110
Thank you, now this works fine with Create React App!

[2019-10-22 18:33] greggb opened #111 "Latest version requires html-webpack-plugin"
After upgrading `4.0.0` to `4.1.1` running a build throws the following error

[code]

Which seems related to the changes in #101.

I don't use `html-webpack-plugin` for my project, so it's not available as a dependency. Does this need to be listed as a `dependency` or `peerDependency` now?

[2019-10-26 19:59] thasmo commented on #111
@arthurbergmz this effectively breaks my webpack build (node 10, npm 6.12) - this should be fixes asap imo.

[2019-10-29 14:38] nixolas1 opened #112 "Support maskable icons"
Android and other OSes now support auto-masking / cropping icons when a parameter in the icons is set. Would be nice with support for it!
Should just be passing `purpose: "maskable"` if the developer has set it.

https://css-tricks.com/maskable-icons-android-adaptive-icons-for-your-pwa/

[2019-10-29 18:55] thasmo commented on #112
Not sure it actually works that way already, but it would be nice if all "unknown" properties (like `purpose`) are printed to the final JSON output regardless.

[2019-11-04 20:51] thasmo commented on #111
@JeandeCampredon, any idea why this is?

[2019-11-05 23:42] JeandeCampredon commented on #111
My bad.
Catching was necessary :
https://github.com/arthurbergmz/webpack-pwa-manifest/pull/113

I haven't looked much further though I think this is what you need for now.
I guess we should find a way to run tests on an independent environnement .

[2019-11-06 14:07] greggb commented on #111
Thanks @JeandeCampredon. Verified a successful build with that change, so should remove the blocking issue once released.

[2019-12-19 18:11] Legends opened #114 "How to use icons?"
I have these icons:
![image](https://user-images.githubusercontent.com/966368/71198045-40bebb80-2293-11ea-95f9-d50f3a956e95.png)

and this in my manifest:

[code]

It's not clear to me how you reference the icons!?

[2019-12-19 18:27] #114 closed

[2019-12-21 01:39] Jaid commented on #36
Is this really implemented now, @arthurbergmz? I am using v4.1.1 and this is the relevant part of my `node_modules/webpack-pwa-manifest/index.d.ts`:

[code]

I can't find the property `filename` in interface `Icon`. Property `destination` only supports directories.

[2019-12-30 00:05] Onset commented on #112
@nixolas1 Can you please test the PR #115. It adds support for the `purpose` property.

Can be installed from here `npm install --save git://github.com/Onset/webpack-pwa-manifest.git#44fd8ff17c
630b1581f0216af8856e1953445f9b`.

[2019-12-31 16:53] Stanzilla opened #116 "Support external URLs in icons"
Hey there, I'd love to use direct links to a icons on a CDN but that does not seem supported?

[2020-01-07 03:58] thequailman commented on #112
That PR fixes this issue for me.

[2020-01-14 14:19] Sideral-Inc commented on #36
@arthurbergmz

Same as @Jaid here. Also using 4.1.1 and there is no option to overwrite the default name (icon_${dimensions}).

[2020-01-29 10:20] MatTheCat commented on #111
Just stumbled upon this issue. Will #113 get merged?

[2020-02-05 02:37] thequailman commented on #112
Can we get this merged sometime?

[2020-02-05 10:37] Onset commented on #112
Yes please.

[2020-02-06 15:28] thequailman commented on #112
I think this repo is dead, and I don't want to be beholden to this repo adding the random properties for PWA manifests going forward.  I spent some time figuring out how to do this with extract-loader and remove this plugin as a dependency, and I'm pretty happy with the results:

**manifest.js**
[code]

**webpack.config.js**
[code]

**index.html** (using html-webpack-plugin)
[code]

[2020-02-06 15:52] Onset commented on #112
@thequailman Neat. Thank you for the snippets.

[2020-02-10 12:41] #112 closed

[2020-02-10 12:45] arthurbergmz opened #119 "LOOKING FOR ANOTHER CONTRIBUTOR"
Hey, guys!

I'm really focusing on other areas right now than the open source community - because, well, you know, it is a tough area and we need to pay our bills and studies...

I'm really looking forward another contributor, who can help me maintain this webpack plugin - even continuing to develop the `next` branch, which solves most of the current issues.

Let me know if you have any interest i

[2020-02-12 10:59] max-scopp commented on #119
Hello,

we - [Zeitgleich.de](https://zeitgleich.de), are a small german company that focuses on connecting systems. We're undergoing a heavy restructuring in the frontend department and getting ready to support future tech like stencil, react, angular. I, myself was active specifically for frontend architecture for the past two years.

We do not restrict ourself on a given framework, every custome

[2020-03-24 13:36] Den-dp opened #121 "Use latest jimp to fix minimist security vulnerability"
Repro:
[code]
[code]
[code]
[code]

The latest jimp should fix it as per https://github.com/oliver-moran/jimp/pull/857

[2020-04-20 12:18] Stanzilla opened #125 "Option to leave icons alone"
Heya, I would love to see an option where wpm just does not alter my icons at all. I take care of minification etc on my own, so if I could just specify a path to them and it does not regenerate them, that would be nice.

[2020-05-18 07:37] u9646 commented on #59
hello, how you solve this problem

[2020-05-18 10:47] AoDev commented on #44
Coming here from a referenced issue. I have this problem where ios icons are injected in the manifest and the browser is picking them for Android, which is wrong.

Until we have a fix, I found a temporary solution where the browsers seem to choose the last declaration of an icon in the manifest if there are multiple, a bit like css.

**Ordering the icon declaration where ios is the first one** see

[2020-05-18 10:56] AoDev commented on #119
I was wondering if Google would be interested in this project, they have the workbox module with the `workbox-webpack-plugin` that probably many people use with your plugin. Maybe you could open issue in their repo?

[2020-06-09 12:39] Den-dp commented on #121
So as a temporary solution I released a fix from my fork https://github.com/Den-dp/webpack-pwa-manifest/releases/tag/v4.2.1 🙌

You can install it via:
[code]
Please notice the new name with `-contrib` at the end, and make sure to change `require('webpack-pwa-manifest-contrib')` in `webpack.config.js`.

[2020-06-16 07:37] Momijiichigo opened #127 "Support for setting the icon size option to 'any' ?"
I tried this configuration but it seems setting icon size to any
[code]
expected output manifest:
[code]

[2020-06-16 08:29] DarkMatterMatt commented on #71
Possibly could be solved by #125?

[2020-07-24 09:52] markkoo opened #131 "Request feature for allow to specific file for build"
We have multiple html page which is email page, amp page, etc.
Not all the page need build the manifest file.

Is that possible to add on this options?

[2020-08-05 10:24] wscourge commented on #121
@Den-dp could you maybe publish it as a PR to this repository?

[2020-08-05 13:34] Den-dp commented on #121
@wscourge #122 PR still exists in this repository but closed because of [the reasons](https://github.com/arthurbergmz/webpack-pwa-manifest/pull/122#issuecomment-638873736).

I hope it's possible to merge it, even if it's closed 😅

[2020-08-05 23:25] AndresHMosqueda opened #133 "How to fix webpack-pwa-manifest vulnerability?"
How to fix webpack-pwa-manifest@4.2.0 and minimist vulnerability. I tried by deleting node/modules and package-lock.json and do a fresh npm install but I have the same issue, any feedback is really appreciated. Attached screenshots.
![IMG_7205](https://user-images.githubusercontent.com/42881305/89473571-35040480-d751-11ea-8764-7909f15a2b53.jpg)
![IMG_7200](https://user-images.githubusercontent.com

[2020-08-12 20:33] ssmith353 commented on #133
https://github.com/arthurbergmz/webpack-pwa-manifest/pull/122

[2020-09-07 18:21] novaknole opened #136 "add hashes to icons"
Hi,

This is what I have currently....

[code]

This generates files such as : icon_72x72.png, icon_96x96.png and so on. What I want to add is hashes into the filenames such as icon_72x72.hash123.png and so on..

Don't we have this feature ?

[2020-10-03 14:11] blephy opened #139 "Missing 'purpose' property in Icon type definition"
Hi,

First of all, thanks to maintain this plugin.

It seems to be a missing property in type def Icon. I can't use `purpose` property in my webpack typescript language configuration.

[2020-10-04 17:22] blephy commented on #139
Can't make a pull request ... 403 :/

[code]

[2020-10-08 09:36] Momijiichigo opened #140 "The url was not resolved for icons in shortcut section."
I wanted my PWA to have [shortcut functionality](https://web.dev/app-shortcuts/), so I wrote the code below in the part ```new WebpackPwaManifest({~~~})```:

[code]
the URLs of PWA's icons were resolved(i.e. png files appear in my dist/ folder and my manifest file states the corresponding location)
but the URLs of the icons in the shortcut section didn't change, the result in the manifest file was

[2020-10-09 23:09] nmummau opened #141 "How to generate multiple manifest.json files for separate parts of the PWA?"
## The Question
[Similar to this stackoverflow question](https://stackoverflow.com/questions/46203661/possible-to-have-multiple-manifest-json-for-pwa).

Is this possible to configure?
I would like a separate manifest.json for separate parts of my PWA, depending on which page the user is visiting.

[2020-10-12 06:45] Momijiichigo commented on #136
Hi. If you want to customize the filenames of the outputs, you should look at the [configuration of the loader](https://webpack.js.org/loaders/file-loader/) that loads image files because the "webpack-pwa-manifest" just loads images via those loaders. Below is example:
[code]

[2020-10-23 13:44] FloodGames opened #143 "Latest webpack adds /auto/ to folder?"
The directory /auto/ is unintentionally added below to my webpack (v5.2.0) distribution.

index.html
`<link rel="manifest" href="auto/manifest.webmanifest" crossorigin="use-credentials"/>`

manifest.webmanifest
`"src": "auto/icons/android/icon_512x512.a621029042a759e434c558ca6e5d11fe.png",`

webpack config:
[code]

[2020-10-27 12:11] wintercounter opened #144 "Webpack 5 support, deprecation warning: DEP_WEBPACK_COMPILATION_ASSETS"
[code]

[2020-10-27 16:20] FloodGames commented on #143
Webpack 5.3.0 didn't fix it.

[2020-10-27 17:02] FloodGames commented on #143
Adding PublicPath fixed the manifest reference in .html and the manifest itself.
[code]

Adding modifyURLPrefix fixed my serviceworker.js
[code]

[2020-10-27 17:02] #143 closed

[2020-11-11 19:01] b7s9 commented on #143
thank you! i had the same issue, and setting `publicPath: "/"` also got rid of the `auto/` prefix for me

[2020-11-17 03:33] martinoppitz commented on #133
https://snyk.io/test/npm/webpack-pwa-manifest/4.2.0

[2020-11-17 03:36] martinoppitz opened #146 "NPM v7 peerDependency bug"
![image](https://user-images.githubusercontent.com/6279703/99343584-806c9980-288e-11eb-898a-057eb5bb9b16.png)

[2020-11-17 03:38] martinoppitz commented on #146
https://github.com/webpack-contrib/extract-text-webpack-plugin is archived!

[2020-11-17 22:18] arthurbergmz commented on #121
Dependencies up-to-date, thank you.

[2020-11-17 22:18] #121 closed

[2020-11-26 03:26] ai opened #148 "Add option to minify manifest"
Right now we server manifest in a readable format:

[code]

Why not add a minification for production to save the Internet a little.

[2020-12-17 21:00] DKulan opened #149 ""auto" being appended to the generated manifest's icon src attributes"
Trying to generate a manifest based on these options:

[code]

but I get "auto" appending in the icons src attribute for some reason:

[code]

[2020-12-27 18:21] Abachouch commented on #149
just add   `publicPath: '/',` , i think its `publicPath: 'auto',` by default

[code]

[2021-01-12 14:41] maps82 commented on #32
To fix the problem described by @mikemix  I use the `map` option of the webpack-manifest-plugin to change the key of the web manifest file:

[code]

(Note this is webpack encore, not a pure webpack config...)

[2021-01-15 10:47] AlexTogar commented on #149
Thanks, I've added publicPath: '.' and everything works now :)

[2021-01-20 17:22] SMKrizan commented on #149
...this resolved my issue, too. Many thanks!

[2021-02-25 16:47] dobladov opened #152 "Support display_override"
The new property `display_override` is not added to `ManifestOptions` in `index.d.ts` so it causes linter errors, please add support for it.

Article about it: https://web.dev/display-override/

[2021-02-26 01:04] Craig5117 commented on #149
FYI, when I tried the above solution, it fixed the problem on localhost, but when I pushed to GitHub, I had a new issue with the GitHub pages version. On the GitHub deployed app, the browser took the "/" as referring to the root, and it confused dist/assets with /assets at the root level. The solution that fixed this was to replace the publicPath setting with "./". The build output for my manifest

[2021-02-27 11:02] zelenkoff opened #153 "Icons is disappear on re-build"
Hi everyone, maybe someone could help me understand why icons disappear on re-build? After the first build, everything is ok, but for the next one `options.icons` is undefined in `retrieveIcons`.

First build:
![first build](https://user-images.githubusercontent.com/11873118/109385372-5eaa9600-7904-11eb-9952-522b3131e9d3.png)

Next one:
![re-build](https://user-images.githubusercontent.com/1187311

[2021-03-04 22:57] Wyzix33 commented on #144
I'm still getting this with   "html-webpack-plugin": "^5.2.0", and   "webpack-pwa-manifest": "^4.3.0"
any news?

[2021-03-18 10:50] tanguy29480 opened #156 "Inject pwa-manifest file into webpack-manifest-plugin"
Hello,
I'm using webpack-manifest-plugin, i would find very useful if pwa-manifest with fingerprint can be added to the webpack-manifest by the webpack-manifest-plugin.
The issue, i think, is that the manifest is not part of the entries, so it is not "catch" by the webpack-manifest-plugin.
Is it possible to do it like you have done for the HtmlWebpackPlugin ?

Thank very much for your current work

[2021-05-05 14:32] nitzanashi opened #157 "Option to prevent HTML injection"
We're building multiple manifests to support diff locales and wondered if it's possible to omit the HTML injection of the manifests.

We tried with `inject: false` but this will also omit the generation of icons and screenshots in the manifest is there option to keep the icons link in the manifest but not adding multiple assets to the HTML file?

[2021-05-05 14:35] #157 closed, assigned to nobody

[2021-05-11 02:21] cristianmdev opened #159 "add prop screenshot for news versions"
My English is terrible, know how to understand the directness of the issue

Resources:
https://developer.mozilla.org/en-US/docs/Web/Manifest/screenshots
https://www.xda-developers.com/installing-pwa-more-native-on-android/

[2021-05-11 14:03] Enase commented on #144
Is there any activity on this?

[2021-05-11 14:14] eliseumds commented on #144
I ended up creating my own *manifest.json* file manually. This package is overkill.

[2021-05-12 21:33] samgermain opened #160 "manifest display property must be one of 'standalone', 'fullscreen', or 'minimal-ui' when display: 'standalone' is in options"
I have my webpack config for WebpackPwaManifest as the code below, but am still getting `manifest display property must be one of 'standalone', 'fullscreen', or 'minimal-ui'` under Application in the browser

[code]

[2021-05-12 21:42] samgermain commented on #160
The mistake was that I had display in there twice

[2021-05-12 21:42] #160 closed, assigned to nobody

[2021-05-12 21:48] samgermain commented on #99
Then the message "No Manifest Detected" is displayed

[2021-05-20 14:38] molfar commented on #32
Have the same issue with webpack 4.46.0

[2021-05-20 14:39] molfar commented on #156
#32 I have the same problem

[2021-06-30 19:14] sergeushenecz commented on #144
Hello everyone. Do we have any news? or maybe this plugin unsupported ?

[2021-07-21 00:48] #159 closed, assigned to nobody

[2021-10-20 15:04] marcusjwhelan commented on #144
I think unsupported is the case

[2021-11-30 18:16] Martinnord commented on #141
@nmummau Did you find something about this? I'm wondering this as well. Thanks!

[2021-11-30 22:58] nmummau commented on #141
@Martinnord No, I never found a solution for this.

[2022-01-31 08:37] chentsulin commented on #119
Hi @arthurbergmz, I can help you review PRs. Add me as a collaborator on GitHub (and maybe npm) if you are happy with that.

[2022-02-23 08:40] ahoys opened #168 "Allow defining a custom extension for the file .webmanifest"
Chrome developer tools give the following tip when using this plugin:
`Web app manifest should have the filename extension 'webmanifest'.`

Which indeed seems to be the standardized extension for a manifest file.
[https://webhint.io/docs/user-guide/hints/hint-manifest-file-extension/?source=devtools](https://webhint.io/docs/user-guide/hints/hint-manifest-file-extension/?source=devtools)

Could we

[2022-02-23 12:33] Stanzilla commented on #168
That's a bit wrong, see https://www.w3.org/TR/appmanifest/#:~:text=NOTE%3A%20File%20extension%3A%20.webmanifest%20or%20.json%3F

[2022-06-20 02:30] Lewis-Moten opened #170 "audit v4.3.0 - moderate - jimp is no longer maintained"
Performing an NPM audit raised a moderate severity on `jpeg-js`, which is nested inside `webpack-pwa-manifest@4.3.0`. It recommends to roll back to `webpack-pwa-manifest@4.0.0`. It appears that the latest version of`jimp@0.16.1` is vulnerable, and that the project is no longer being maintained. Can this package be changed to rely on another image package or one of the 712+ forks of jimp?

Jimp was

[2022-07-31 13:43] deleonio commented on #170
How we can organize a new release?!

Should we fork or could we become a contributor with permission?!

[2022-09-21 06:55] Dante-dan commented on #119
I am interested.

[2022-10-24 17:46] Danubius1st opened #172 "Any chance to work with typescript ?"
I got this error message in my webpack.config.ts:
_Type 'WebpackPwaManifest' is not assignable to type '((this: Compiler, compiler: Compiler) => void) | WebpackPluginInstance'._

If I change the extension to js this error disappears, but my project work with typescript.

[2022-11-01 13:15] gormonn opened #173 "icons src output path"
[code]

I have a similar problem as https://github.com/arthurbergmz/webpack-pwa-manifest/issues/23

As a result of the build, the manifest and the icons are on the same level in the directory:
-- build
---- manifest.json
---- icon.png

In this case, the paths to the icons are absolute:
  "src": "build/icon.png"

Although they should be relative:
"src": "icon.png"

As a workaround - I can write a p